<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfigLoginAplicationURS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConfigLoginAplicationURS.Properties.Settings>
            <setting name="LastUsedOption" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProgramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedOrientation" serializeAs="String">
                <value>-1</value>
            </setting>
        </ConfigLoginAplicationURS.Properties.Settings>
    </userSettings>
</configuration>